@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Mission5.Models.ApplicationResponse

<h1 class="display-4">Movies Form</h1>

<div>
    <form method="post">

        @*Prints error message*@
        <div asp-validation-summary="All"></div>

        <label asp-for="CategoryId">Category:</label>
        <select asp-for="CategoryId">
            <option value="">Select a Major</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br />
        <label asp-for="Title">Title:</label>
        <input asp-for="Title" required />
        <br />
        <label asp-for="Year">Year:</label>
        <input asp-for="Year" maxlength="4" />
        <br />
        <label asp-for="Director">Director:</label>
        <input asp-for="Director" required />
        <br />
        <label asp-for="Rating">Rating:</label>
        <select asp-for="Rating" required>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br />
        <label asp-for="Edited">Edited:</label>
        <select asp-for="Edited">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br />
        <label asp-for="LentTo">Lent To:</label>
        <input asp-for="LentTo" />
        <br />
        <label asp-for="Notes">Notes:</label>
        <textarea asp-for="Notes" maxlength="25"></textarea>
        <br />
        <br />
        <button type="submit">Enter Movie</button>
        <br />
        <input type="hidden" asp-for="Id" />
    </form>
   
</div>