@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="display-4">My Podcast</h1>
<div>
    <p>Please visit my podast, Baconsale <a href="https://baconsale.com/">here!</a></p>

</div>